.roboto-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



.header {
    background-image: url(/images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;


}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;


}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.ru {
    color: rgb(255, 123, 0)
}

ul.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400px;
    font-size: 20px;

}

.hire {
    background-color: rgb(255, 115, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

/* Banner conten...................... */
.baner {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 35px 0px 200px;
}

.contact-btn {
    color: rgb(255, 129, 71);
    border-color: rgb(255, 129, 71);
    font-size: 15px;
    font-weight: 600px;
    padding: 8px 15px;
    border: 1px solid;
}

.contact-btn:hover {
    background-color: rgb(255, 129, 71);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}

.baner-greting {
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 115, 0);
}

.baner-title {
    font-size: 80px;
    font-weight: 800;
    color: black;
}

.banar-content {
    max-width: 500px;

}


/* About Seftion................................ */
.about {
    max-width: 1340px;
    margin: 0 auto;
    background-color: rgb(255, 243, 230);
    padding: 100px 150px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
}

.about-conten {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
    border: 1px solid rgb(156, 142, 129);
    box-shadow: 10px rgba(0, 0, 0, 0.1);

}

.about-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


/* What i do .......................section */
.what {
    max-width: 1340px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 100px 150px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
}

.what-conten-element {
    background-color: rgb(245, 238, 238);
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgb(255, 115, 0);
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    width: 300px;


}

.what-footer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}

footer {
    max-width: 1340px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(19, 7, 1);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 150px;
    margin-top: 50px;
  
}

.contact-form {
    display: flex;
    flex-direction: column;
   
}